#wb_header { background: transparent none repeat scroll left top; height: 200px; }
#wb_header { height: 200px; }
#wb_main { background: transparent none repeat scroll left top; height: 1030px; padding: 0 0 30px 0; }
#wb_main { height: 1060px; }
#wb_footer { background: #3f5c9a none repeat-x scroll left top; height: 60px; }
#wb_footer { height: 60px; }
body { background: #ffffff url("gallery/9987.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/7f5e953e73867c165e82487e7a2207a0.jpg") repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 1854px; }
.root { width: 992px; height: 1854px; overflow: visible; }
#wb_element_instance22 { left: 50px; top: 150px; min-width: 900px; width: 900px; min-height: 40px; height: 40px; display: block; z-index: 327; }
#wb_element_instance22 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance22, #wb_element_instance22 ul { text-align: center; }
#wb_element_instance22 ul ul { background: #454545 none repeat scroll right top; }
#wb_element_instance22 li { margin: 0px 20px 0px 20px; }
#wb_element_instance22 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance22 li:hover > a, #wb_element_instance22 li:focus > a { border: 0px none #000000; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #d9ff00; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance22 li.active > a { border: 0px none #000000; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #d9ff00; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance23 { left: 917px; top: 41px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; z-index: 336; }
#wb_element_instance23 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance24 { left: 713px; top: 42px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; z-index: 340; }
#wb_element_instance24 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { left: 815px; top: 43px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; z-index: 338; }
#wb_element_instance25 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance26 { left: 890px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; z-index: 335; }
#wb_element_instance26 > div { width: 100px; height: 140px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance27 { left: 790px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; z-index: 337; }
#wb_element_instance27 > div { width: 100px; height: 140px; background: #5ecfff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance28 { left: 690px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; z-index: 339; }
#wb_element_instance28 > div { width: 100px; height: 140px; background: #3f5c9a; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance29 { left: 150px; top: 40px; min-width: 340px; width: 340px; min-height: 60px; height: 60px; display: none; z-index: 341; }
#wb_element_instance30 { left: 0px; top: 20px; min-width: 140px; width: 140px; min-height: 110px; height: 110px; display: block; z-index: 342; }
#wb_element_instance30 img { width: 140px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance31 { left: 770px; top: 20px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; z-index: 315; }
#wb_element_instance32 { left: 500px; top: 130px; min-width: 470px; width: 470px; min-height: 280px; height: 280px; display: block; z-index: 95; }
#wb_element_instance33 { left: 20px; top: 40px; min-width: 950px; width: 950px; min-height: 70px; height: 70px; display: block; z-index: 98; }
#wb_element_instance34 { left: 20px; top: 130px; min-width: 460px; width: 460px; min-height: 320px; height: 320px; display: block; z-index: 99; overflow: hidden; }
#wb_element_instance34 img { width: 320px; height: 210px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance35 { left: 20px; top: 470px; min-width: 950px; width: 950px; min-height: 560px; height: 560px; display: block; z-index: 97; }
#wb_element_instance36 { left: 0px; top: 1050px; display: block; z-index: 9000; }
#wb_element_instance37 { left: 0px; top: 64px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 200px; }
	#wb_main { height: 1060px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1320px; }
	.root { width: 992px; height: 1320px; overflow: visible; }
	#wb_element_instance22 { left: 50px; top: 150px; min-width: 900px; width: 900px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance23 { left: 917px; top: 41px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance23 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 713px; top: 42px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance24 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance25 { left: 815px; top: 43px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance25 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 890px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance26 > div { width: 100px; height: 140px; }
	#wb_element_instance27 { left: 790px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance27 > div { width: 100px; height: 140px; }
	#wb_element_instance28 { left: 690px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance28 > div { width: 100px; height: 140px; }
	#wb_element_instance29 { left: 150px; top: 40px; min-width: 340px; width: 340px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance30 { left: 0px; top: 20px; min-width: 140px; width: 140px; min-height: 110px; height: 110px; display: block; overflow: hidden; }
	#wb_element_instance30 img { width: 143px; height: 110px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance31 { left: 770px; top: 20px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { left: 500px; top: 130px; min-width: 470px; width: 470px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance33 { left: 20px; top: 40px; min-width: 950px; width: 950px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance34 { left: 20px; top: 130px; min-width: 460px; width: 460px; min-height: 320px; height: 320px; display: block; overflow: hidden; }
	#wb_element_instance34 img { width: 481.50470219436px; height: 320px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance35 { left: 20px; top: 470px; min-width: 950px; width: 950px; min-height: 560px; height: 560px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 200px; }
	#wb_main { height: 1060px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1320px; }
	.root { width: 992px; height: 1320px; overflow: visible; }
	#wb_element_instance22 { left: 50px; top: 150px; min-width: 900px; width: 900px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance23 { left: 917px; top: 41px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance23 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 713px; top: 42px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance24 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance25 { left: 815px; top: 43px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance25 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 890px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance26 > div { width: 100px; height: 140px; }
	#wb_element_instance27 { left: 790px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance27 > div { width: 100px; height: 140px; }
	#wb_element_instance28 { left: 690px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance28 > div { width: 100px; height: 140px; }
	#wb_element_instance29 { left: 150px; top: 40px; min-width: 340px; width: 340px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance30 { left: 0px; top: 20px; min-width: 140px; width: 140px; min-height: 110px; height: 110px; display: block; overflow: hidden; }
	#wb_element_instance30 img { width: 143px; height: 110px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance31 { left: 770px; top: 20px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { left: 500px; top: 130px; min-width: 470px; width: 470px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance33 { left: 20px; top: 40px; min-width: 950px; width: 950px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance34 { left: 20px; top: 130px; min-width: 460px; width: 460px; min-height: 320px; height: 320px; display: block; overflow: hidden; }
	#wb_element_instance34 img { width: 481.50470219436px; height: 320px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance35 { left: 20px; top: 470px; min-width: 950px; width: 950px; min-height: 560px; height: 560px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 200px; }
	#wb_main { height: 1060px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1320px; }
	.root { width: 992px; height: 1320px; overflow: visible; }
	#wb_element_instance22 { left: 50px; top: 150px; min-width: 900px; width: 900px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance23 { left: 917px; top: 41px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance23 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 713px; top: 42px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance24 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance25 { left: 815px; top: 43px; min-width: 52px; width: 52px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance25 img { width: 52px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 890px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance26 > div { width: 100px; height: 140px; }
	#wb_element_instance27 { left: 790px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance27 > div { width: 100px; height: 140px; }
	#wb_element_instance28 { left: 690px; top: 0px; min-width: 100px; width: 100px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance28 > div { width: 100px; height: 140px; }
	#wb_element_instance29 { left: 150px; top: 40px; min-width: 340px; width: 340px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance30 { left: 0px; top: 20px; min-width: 140px; width: 140px; min-height: 110px; height: 110px; display: block; overflow: hidden; }
	#wb_element_instance30 img { width: 143px; height: 110px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance31 { left: 770px; top: 20px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { left: 500px; top: 130px; min-width: 470px; width: 470px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance33 { left: 20px; top: 40px; min-width: 950px; width: 950px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance34 { left: 20px; top: 130px; min-width: 460px; width: 460px; min-height: 320px; height: 320px; display: block; overflow: hidden; }
	#wb_element_instance34 img { width: 481.50470219436px; height: 320px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance35 { left: 20px; top: 470px; min-width: 950px; width: 950px; min-height: 560px; height: 560px; display: block; }
}
